/* menu */

.menu {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 30px;
  margin: 0px 10px 250px 150px;
}

.menu ul {
  margin: 0px 0 20px 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-weight: bolder;
}
.grey-color {
  color: #fff;
  text-shadow: #000;
}

.menu li a {
  display: block;
  width: 100%;
  padding-bottom: 100px;
  justify-content: space-between;
  color: white;
  font-weight: bolder;
  font-size: 32;
  text-decoration: none;
}

.menu li a:hover,
.menu .menu-btn:hover {
  background: none;
  transition: 0.3s ease-out;
}

.menu .logo {
  display: block;
  float: left;
  font-size: 1.3em;
  text-decoration: none;
  margin-left: 0px;
  line-height: normal;
}
.menu .logo-name {
  font-family: 'Agustina Regular';
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 10px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.menu .logo-name:hover {
  color: white;
  transition: 0.2s ease-out;

}

/* menu */

.menu .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.menu .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu .menu-icon .navicon:before,
.menu .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu .menu-icon .navicon:before {
  top: 5px;
}

.menu .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu .menu-btn {
  display: none;
}

.menu .menu-btn:checked ~ .menu {
  max-height: 370px;
}

.menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .menu li {
    float: right;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu .menu {
    max-height: none;
  }
  .menu .menu-icon {
    display: none;
  }
}
@media (max-width: 960px) and (min-width: 768px) {
  .menu {
    font-size: 12px;
  }
}
