.carouselWrapper{
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 450px;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 48px;
}

.carouselWrapper, a {
  text-decoration: none;
  color: azure;
  text-shadow: 1px 1px 15px black;
}

.carouselWrapper li a:hover {
  color: darkorange;
  text-shadow: 1px 1px 10px orange;
  transition: 0.2s ease-out;
}

.linkWrap {
  position: 'absolute';
  top: 0;
  left: 0;
}
.linkWrap:hover {
  cursor: pointer;
  text-shadow: 1px 1px 10px darkorange;
}

li {
  list-style-type: none;
}
.dn {
  display: none;
}
