.dev-icons {
  padding-left: 0;
  list-style: none;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  padding-bottom: auto;
  text-shadow: 1px 1px 5px black;
}

.software-skill-inline > label {
  display: flex;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  color: white;
  font-weight: normal;
  text-shadow: 1px 1px 4px white;

}

.software-skill-inline > i {
  color: #999;
  font-Size: 36px;
}

.software-skill-inline > i:hover {
  color: #5affff;
  text-shadow: 1px 1px 16px white;
  transition: 0.2s ease-out;
}
